* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141e27;
}

.datetime {
  color: #fff;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 3px solid #f0a500;
  padding: 15px 40px;
  border-radius: 10px;
  -webkit-box-reflect: below 3px
    linear-gradient(transparent, rgba(255, 255, 255, 0.05));
}

.date {
  font-size: 20px;
  font-weight: 600;
  align-items: center;
}

.time {
  display: flex;
  font-size: 60px;
  justify-content: center;
  align-items: center;
  word-spacing: 10px;
}

.time span:not(:last-child) {
  position: relative;
  margin: 0 12px;
  text-align: center;
  letter-spacing: 5px;
}

.time span:last-child {
  background-color: #2940d3;
  font-size: 30px;
  border-radius: 5px;
  padding: 0 5px;
  margin-top: 16px;
  margin-left: 5px;
}
